/*  your css code here. If applicable */
.center{
	
	text-align:center;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	border:2px solid black;
	width:500p;
	height:500px;
	background-color:lightblue;
	
}
#text{
	margin-top:210px;
	font-size:50px;
	color:#8a2be2;
}